<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <link href="assets/favicon.ico" rel="shortcut icon">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">


    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        {% include navbar.html %}
      </div>
    </nav>

    <div class="container-fluid">


    <article>
      {{ content }}

      <hr>

      <footer>
        <div class="container">
          <p class="pull-right"><small>2012-2016 &copy; Translate House</small></p>
          <ul class="nav">
            <li><a href="{{ site.about_url }}">About Translate</a></li>
            <li><a href="{{ site.contact_url }}">Contact</a></li>
          </ul>
        </div>
      </footer>

    </article>
    </div>
      <script type="text/javascript" src="assets/js/jquery.min.js"></script>
      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

      <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39222064-1']);
      _gaq.push(['_setDomainName', 'translatehouse.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>
